.header-bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 750upx;
	height: 208upx;
}
.userinfo-box {
	position: relative;
	width: 686upx;
	height: 258upx;
	background: #fff;
	background-size: 100% 62upx;
	border-radius: 16upx;
	margin: 22upx auto 20upx;
	padding: 36upx 0 0 32upx;
	overflow: hidden;
	.box-bg {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 686upx;
		height: 62upx;
	}
	.userinfo-box-top {
		display: flex;
	}
	.portrait {
		width: 120upx;
		height: 120upx;
		border-radius: 50%;
		margin-right: 24upx;
	}
	.userinfo-r {
		flex: 1;
		color: #414348;
		.login-name {
			height: 24px;
			font-size: 18px;
			font-weight: 500;
			line-height: 24px;
		}
		.rank-info {
			display: flex;
			padding-top: 14upx;
		}
		.rank-info-item {
			width: 114upx;
		}
		.integral-info-item {
			flex: 1;
		}
		.info-val {
			font-size: 14px;
			line-height: 36upx;
			font-family: "arial";
			font-weight: 500;
		}
		.info-label {
			font-size: 12px;
			line-height: 32upx;
		}
	}
}
.notLogin-item {
	height: 180upx;
	padding-left: 32upx;
	padding-right: 32upx;
	display: flex;
	align-items: center;
	&.disabled {
		.img {
			-webkit-filter: grayscale(1);
		}
	}
	.img {
		width: 100upx;
		height: 100upx;
		border-radius: 50%;
		margin-right: 20upx;
	}
	.section-txt {
		flex: 1;
	}
	.info-label {
		height: 48upx;
		font-size: 16px;
		font-weight: 500;
		color: #3A4155;
		line-height: 48upx;
	}
	.info-value {
		font-size: 14px;
		color: #95989C;
		line-height: 40upx;
	}
}
.hasLogin-item-box {
	padding: 20upx 32upx;
}


	