view, scroll-view, swiper, swiper-item, cover-view, cover-image, icon, text, rich-text, progress, button, checkbox,
form, input, label, radio, slider, switch, textarea, navigator, audio, camera, image, video,ul,li,body, html, 
.container, page, .content  {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: PingFangSC-Medium,PingFang SC;
	list-style: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
}
body, html {
	overflow-x: hidden;
}
	
/* #ifdef MP */
page {
	background: #FAF9F9;
	overflow-x: hidden;
}
.status_bar {
	height: var(--status-bar-height);
	width: 100%;
	color: #fff;
	font-size: 14px;
	position: relative;
	top: 64upx;
	z-index: 99;
	text-align: center;
}
.content {
	position: relative;
	padding: 108upx 0 0 0;
}

/* #endif */

/* #ifdef H5 */
.status_bar {
	height: var(--status-bar-height);
	width: 100%;
	color: #fff;
	font-size: 14px;
	position: relative;
	top: 60upx;
	z-index: 99;
	text-align: center;
}
.content {
	position: relative;
	padding: 128upx 0 0 0;
}
/* #endif */
	
page {
	background: #FAF9F9;
	height: 100%;
}
.container {
	height: 100%;
	overflow-x: hidden;
	background: #FAF9F9;
}
.section {
	width: 686upx;
	margin: 0 auto 20upx;
	background: rgba(255,255,255,1);
	box-shadow: 0px 2upx 40upx 0px rgba(0,0,0,0.04);
	border-radius: 16upx;
}
.icon-back {
	display: inline-block;
	position: absolute;
	left: 20upx;
	top: 0;
	width: 32upx;
	height: 32upx;
}
.icon-integral {
	display: inline-block;
	width: 20upx;
	height: 20upx;
	margin-left: 4upx;
}
.tab-bar {
	display: flex;
	justify-content: space-between;
	height: 88upx;
	margin-bottom: 20upx;
	padding: 0 170upx;
	background: #fff;
	box-shadow: 0px 2upx 40upx 0px rgba(0, 0, 0, 0.04);
}
.tab {
	flex: 1;
	font-size: 24upx;
	color: #95989c;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	&.active {
		color: #fa6889;
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -21upx;
			width: 42upx;
			height: 6upx;
			border-radius: 3upx;
			background: #fa6889;
		}
	}
}