/* #ifdef MP */
.header-bg {
	top: -50upx;
}
/* #endif */
.content {
	padding: 0;
}

.icon-back {
	display: inline-block;
	position: absolute;
	left: 20upx;
	top: 0;
	width: 32upx;
	height: 32upx;
	background: url(../../static/icon-back.png) no-repeat left top;
	background-size: 100%;
}
.icon-contribute-intergral {
	display: inline-block;
	width: 20upx;
	height: 20upx;
	background: url(../../static/icon-contribute-intergral.png) no-repeat left top;
	background-size: 100%;
	margin-left: 4upx;
}
.icon-contribute-intergral-red {
	display: inline-block;
	width: 20upx;
	height: 20upx;
	background: url(../../static/icon-integral.png) no-repeat left top;
	background-size: 100%;
	margin-left: 4upx;
}
.btn-join {
	width: 200upx;
	height: 64upx;
	line-height: 64upx;
	padding: 0;
	background: rgba(250, 104, 137, 1);
	box-shadow: 0upx 4upx 18upx 0upx rgba(250, 104, 137, 0.6);
	border-radius: 32upx;
	font-size: 24upx;
	color: #fff;
	text-align: center;
}
.not-fans-wrap {
	width: 336upx;
	height: 420upx;
	margin: 220upx auto 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	.not-fans-img {
		width: 222upx;
		height: 224upx;
	}
	.not-fans-text {
		width: 100%;
		font-size: 12px;
		color: #656976;
		text-align: center;
		line-height: 18px;
	}
	.btn-red {
		width: 300upx;
		height: 68upx;
		line-height: 68upx;
		margin-top: 30upx;
		padding: 0;
		background: rgba(250, 104, 137, 1);
		box-shadow: 0upx 4upx 18upx 0upx rgba(250, 104, 137, 0.6);
		border-radius: 32upx;
		font-size: 12px;
		color: #fff;
		text-align: center;
	}
}
.container {
	height: 100%;
	background: #FAF9F9;
}
.header-bg {
	position: relative;
	width: 750upx;
	height: 308upx;
	padding-top: 148upx;
	overflow: hidden;
	background: linear-gradient(127deg,rgba(250,114,104,1) 0%, rgba(117,96,249,1) 100%);
	.header-img {
		position: absolute;
		right: -120upx;
		bottom: 30upx;
		width: 462upx;
		height: 152upx;
		background: url(../../static/fans-bg.png) no-repeat left top;
		background-size: 100%;
	}
	.fans-info {
		display: flex;
		width: 100%;
		height: 186upx;
		.portrait {
			width: 120upx;
			height: 120upx;
			border-radius: 50%;
			margin: 0 25upx 0 32upx;
		}
		.info-m {
			width: 343upx;
			.username {
				font-size: 18px;
				color: #fff;
				line-height: 44upx;
			}
			.rank-info {
				display: flex;
				padding-top: 14upx;
				color: #fff;
			}
			.rank-info-item {
				width: 116upx;
			}
			.integral-info-item {
				flex: 1;
			}
			.info-val {
				font-size: 14px;
				line-height: 36upx;
				font-family: "arial";
				font-weight:500;
			}
			.info-label {
				font-size: 12px;
				line-height: 32upx;
			}
		}
		.btn-join {
			width: 200upx;
			height: 64upx;
			line-height: 64upx;
			margin-top: 56upx;
			padding: 0;
			background: rgba(250, 104, 137, 1);
			box-shadow: 0upx 4upx 18upx 0upx rgba(250, 104, 137, 0.6);
			border-radius: 32upx;
			font-size: 24upx;
			color: #fff;
			text-align: center;
		}
	}
}

.contribute-box {
	position: relative;
	width: 100%;
	height: 88upx;
	.contribute-box-l { 
		position: absolute;
		left: 0;
		top: 0;
		width: 8upx;
		height: 88upx;
		background: url(../../static/contribute-box-border.png) no-repeat left top;
		background-size: 100% 100%;
	}
	.contribute-box-r-bg {
		position: absolute;
		right: 0;
		top: 0;
		width: calc(100% - 8upx);;
		height: 88upx;
		background: linear-gradient(127deg, rgba(250,114,104,1) 0%,rgba(117,96,249,1) 100%);
		opacity: 0.5;
	}
	.contribute-box-r {
		position: absolute;
		right: 0;
		top: 0;
		width: 742upx;
		height: 88upx;
		flex: 1;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 27upx;
		.label {
			font-size: 14px;
			color: #fff;
		}
		.img-list {
			display: flex;
		}
		.img-wrap {
			position: relative;
			width: 60upx;
			height: 60upx;
			margin-right: 20upx;
			&:last-child{
				margin-right: 0;
			}
		}
		.contribute-img {
			width: 60upx;
			height: 60upx;
			border-radius: 50%;
		}
		.index {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 28upx;
			height: 28upx;
			border-radius: 50%;
			line-height: 28upx;
			font-size: 12px;
			color: #fff;
			font-family: arial;
			text-align: center;
			background: #eb68fa;
			
		}
	}	
}

.task-box {
	width: 100%;
	height: 192upx;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 40upx 0px rgba(0, 0, 0, 0.04);
	border-radius: 0px 0px 16upx 16upx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20upx;
	padding: 0 114upx;
	.task-item {
		// flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.task-img {
		width: 100upx;
		height: 100upx;
		margin-bottom: 8upx;
	}
	.task-txt {
		font-size: 14px;
		color: #414348;
		line-height: 14px;
	}

}
/* #ifdef MP */ 
.contribute-box {
	position: relative;
	top: -50upx;
}
/* #endif */

.message-list { 
	padding: 20upx 0;
	.message-item {
		position: relative;
		height: 120upx;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 30upx;
		.portrait-bg {
			display: none;
			position: absolute;
			left: 26upx;
			top: 0;
			width: 88upx;
			height: 104upx;
			background: url(../../static/person-bg-xs.png) no-repeat left top;
			background-size: 100% 100%;
			transition: all 0.5s;
		}
		.img{
			width: 80upx;
			height: 80upx;
			margin: 0 22upx 0 0;
			border-radius: 50%;
		}
		.item-right {
			flex: 1;
		}
		.item-top {
			display: flex;
			height: 38upx;
			align-items: flex-end; 
			justify-content: space-between;
		}
		.name {
			font-size: 12px;
			color: #FA6889;
			line-height: 40upx;
		}
		.message {
			font-size: 14px;
			color: #414348;
			line-height: 38upx;
		}
		.time {
			font-size: 12px;
			color: #414348;
		}
		&.active {
			.portrait-bg {
				display: block;
			}
			.message {
				color: #FA6889;
			}
		}
	}
}

/* 提示窗口 */
.uni-tip {
	width: 640upx;
	height: 310upx;
	background-color: #fff;
	// padding: 30upx;
	border-radius: 10upx;
}

.uni-tip-title {
	margin-bottom: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	color: #333;
}

.uni-tip-content {
	display: flex;
	height: 208upx;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	text-align: center;
	line-height: 42upx;
	color: #656976;
	border-bottom: 1upx solid #F4F5F7;
}

.uni-tip-group-button {
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	flex-direction: row;
	height: 100upx;
	line-height: 100upx;
}

.uni-tip-button {
	flex: 1;
	text-align: center;
	font-size: 18px;
	color: #656976;
	&:last-child{
		border-left: 1upx solid #F4F5F7;
		color: #fa6889;
	}
}
.uni-tip-contribute-intergral {
	position: relative;
	width: 750upx;
	height: 752upx;
	padding: 82upx 33upx 0;
	background: #fff;
	box-shadow: 0px 2upx 40upx 0px rgba(0, 0, 0, 0.04);
	border-radius: 16upx 16upx 0px 0px;
	.icon-close {
		position: absolute;
		right: 26upx;
		top: 26upx;
		width: 36upx;
		height: 36upx;
		background: url(../../static/icon-close.png) no-repeat left top;
		background-size: 100% 100%;
	}
	.prop-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.prop-box {
		width: 164upx;
		height: 220upx;
		margin-bottom: 20upx;
		border-radius: 14upx;
		border: 1px solid #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		&.is-select {
			border: 1px solid #FA6889;
		}
		.img {
			width: 102upx;
			height: 102upx;
			margin: 20upx 0 8upx 0;
		}
		.name {
			font-size: 14px;
			line-height: 40upx;
			color: #95989C;
		}
		.integral {
			font-size: 12px;
			color: #FA6889;
		}
	}
	.tip-bottom-area {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.left-content {
			font-size: 12px;
			color: #414348;
			.val {
				margin-left: 4upx;
				color: #FA6889;
			}
		}
	}
}

	
	